apiVersion: apps/v1
kind: Deployment
metadata:
  name: gardener-extension-os-gardenlinux
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: gardener-extension-os-gardenlinux
    helm.sh/chart: gardener-extension-os-gardenlinux
    app.kubernetes.io/instance: {{ .Release.Name }}
    high-availability-config.resources.gardener.cloud/type: controller
spec:
  revisionHistoryLimit: 0
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: gardener-extension-os-gardenlinux
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gardener-extension-os-gardenlinux
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      priorityClassName: gardener-system-900
      serviceAccountName: gardener-extension-os-gardenlinux
      containers:
      - name: gardener-extension-os-gardenlinux
        image: {{ include "image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /gardener-extension-os-gardenlinux
        - --leader-election-resource-lock={{ .Values.leaderElection.resourceLock }}
        - --max-concurrent-reconciles={{ .Values.controllers.concurrentSyncs }}
        - --heartbeat-namespace={{ .Release.Namespace }} 
        - --heartbeat-renew-interval-seconds={{ .Values.controllers.heartbeat.renewIntervalSeconds }} 
        - --disable-controllers={{ .Values.disableControllers | join "," }}
        - --ignore-operation-annotation={{ .Values.controllers.ignoreOperationAnnotation }}
        - --gardener-version={{ .Values.gardener.version }}
        env:
        - name: LEADER_ELECTION_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{- if .Values.resources }}
        resources:
{{ toYaml .Values.resources | nindent 10 }}
{{- end }}
